
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.table {
  width: 100%;
  border-collapse: collapse;
}

.tr {
  border-bottom: 1px solid #ccc;
}

.th,
.td {
  padding: 8px;
  text-align: left;
}


.id,
.name,
.address,
.total {
  display: block;
  font-weight: bold;
}

.id {
  color: blue;
}

.total {
  color: red;
}


.wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}


.title {
  font-size: 20px;
  margin-bottom: 10px;
}


.totalText {
  margin-bottom: 5px;
}


.done,
.inProgress,
.undone {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}


.inProgress {
  animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.undone .checkedIcon,
.inProgress .checkedIcon {
  display: none;
}


.undone {
  opacity: 0.3;
}


.checkedIcon {
  margin-top: 5px;
}


.button {
  padding: 10px 20px;
  background-color: #45525a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.space {
  height: 50px; 
}

